@font-face {
    font-family: pokehollow;
    src: url(../fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: pokesolid;
    src: url(../fonts/Pokemon\ Solid.ttf);
}

body {
    background: linear-gradient(90deg, red , yellow);
}


#pokemon {
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 100%;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px;
    background-color: yellow;
}

.form input::placeholder {
    color: red;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: pokesolid;
    margin: 20px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(129, 34, 0, 0.641);
    color: rgb(129, 35, 0);
}

.card h2 {
    margin: 20px;
    text-transform: uppercase;
}


.card {
    background-color: rgba(255, 255, 0, 0.704);
    border: 5px solid orange;
    border-radius: 60px;
    box-shadow: 20px 20px 20px rgba(255, 166, 0, 0.695);
    text-align: center;
    width: 30%;
    margin: 20px;
}

.card img {
    width: 100%;
}

#pokeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px auto 20px auto;
    border-radius: 20px;
    padding: 10px;
    background-color: yellow;
    color: red;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}